#Directories
/node_modules
/public/storage
/public/news/images
/storage/*.key
/storage/*.p12
/vendor
.idea

#Files
Homestead.json
Homestead.yaml
.env
yarn.lock
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
